<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="hosho" value="https://www.myget.org/F/hosho/api/v3/index.json" />
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnet-corefxlab" value="https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="dotnet-core" value="true" />
    <add key="dotnet-corefxlab" value="true" />
  </disabledPackageSources>
</configuration>